<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
	<body>
		<h3>Welcome, <%= link_to @current_user.name, edit_user_path(@current_user) %>! </h3>
		<%= link_to "past adventures", user_prev_adventures_path(@current_user) %>

	<h3><%= @current_forecast %> </h3>

		<h2>Enter info below to start on your adventure!</h2>

		<p>ENTER YOUR LOCATION, YOUR TIME FRAME, AND BUDGET TO START ON AN ADVENTURE!</p>

		<%= form_tag ("user_adventures_path") do %>
		Enter your $
		<%= text_field_tag :amount_spend %> <br>
		Enter amount of people
		<%= text_field_tag :amount_people %> <br>
		Enter minutes for adventure
		<%= text_field_tag :amount_time %> <br>
		<%= submit_tag "submit" %>
	<% end %>


		
	</body>
</html>

