<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/new.css">
</head>
<body>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6">
			<div class="big">
				<div class="main">
					<h1 id="tag-line">START YOUR ADVENTURE!</h1>
					<div class="login-form">
							<%= form_tag "/sessions" , url: {method: :POST} do %>
							<div class="form-group">
								<%= label_tag(:email, "Email", class: "control-label") %>
								<%= email_field_tag :email, "",class: "form-control" %>
							</div>
							<div class="form-group pass">
								<%= label_tag(:password, "Password" , class: "control-label") %>
								<%= password_field_tag :password , "", class: "form-control" %>
							</div>
								<%= submit_tag "LOGIN", class: "btn btn-default"%>
							<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-3">

		</div>
	</div>
	<script type="text/javascript">navigator.geolocation.getCurrentPosition(function(position){(document.cookie="lat="+position.coords.latitude+";path=/", document.cookie="long="+position.coords.longitude+";path=/")})</script>
</body>
</html>