<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- <h1>Enter your information below to begin your journey!</h1> -->

<!-- 	<%= form_for @user do |f| %>
		Enter your email
		<%= f.text_field :email %> <br>
		Enter your name
		<%= f.text_field :name %> <br>
		Enter your password
		<%= f.password_field :password %> <br>
		<%= f.submit "Create account" %>
	<% end %> -->

<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6">
			<div class="big">
				<div class="main">
					<h1 id="tag-line">Create an account to begin your journey!</h1>
					<div class="login-form">
						<%= form_for @user do |f| %>
						<div class="form-group">
							Enter your email
							<%= f.text_field :email, class: "form-control"%> <br>
						</div>
						<div class="form-group">
							Enter your name
							<%= f.text_field :name, class: "form-control"%> <br>
						</div>
						<div class="form-group">
							Enter your password
							<%= f.password_field :password, class: "form-control"%> <br>
						</div>
							<%= f.submit "Create account", class: "btn btn-default"%>
						<% end %>
					</div>
					<div>
						If you're already a member, log in 
						<a href="/sessions/new"> here</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">

		</div>
	</div>


</body>
</html>